body {
  margin: 0;
}

/* HEADER STYLES */

header,
main {
  padding: 0 2rem;
}

header {
  border-bottom: 1px solid;
}

header .display-menu-btn {
  display: none;
  cursor: pointer;
}

.poke-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

header nav {
  max-width: 70%;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

header nav ul li {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

/* MAIN STYLES */

main {
  padding-top: 1rem;
}

/* POKEMONS LIST SECTION */

section.section-pokemons {
  padding-bottom: 1rem;
}

.search-container {
  position: relative;
}

.search-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

section.section-pokemons .search-sub-section {
  margin-bottom: 1rem;
}

section.section-pokemons .pokemons-sub-section {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 1rem;
}

section.section-pokemons .pokemons-sub-section div.poke-card-container {
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
}

section.section-pokemons
  .pokemons-sub-section
  div.poke-card-container
  ul.poke-types-list-container {
  list-style: none;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 10px;
}

section.section-pokemons
  .pokemons-sub-section
  div.poke-card-container
  ul.poke-types-list-container
  li {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
}

.section-pokemons,
.section-pokemon-preview {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

/* SHOW POKEMON SECTION */

section.section-pokemon-preview div.row-pokemon {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
}


.pokemon-preview-container,
.pokemon-stats-container {
  display: flex;
  flex-direction: column;
}


.pokemon-preview-container {
  align-items: flex-end;
}

.pokemon-stats-container {
  align-items: flex-start;
  justify-content: space-between;
}

.pokemon-preview.show-info-container,
.pokemon-description {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  width: -webkit-fill-available;
  text-align: center;
}

.pokemon-description {
  margin-bottom: 0px;
}

.pokemon-preview.show-info-container img {
  width: 200px;
  height: 200px;
}

.pokemon-tags-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pokemon-tags-row ul,
.abilities-container {
  padding: 0;
  list-style: none;
}

.pokemon-tags-row ul li, 
.pokemon-tags-row span {
  padding: 0;
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 1rem;
}

.pokemon-tags-row ul li:first-of-type {
  margin-left: 0;
}

.pokemon-tags-row ul li, 
.pokemon-tags-row span {
  padding: 0;
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.pokemon-attributes-container {
  width: -webkit-fill-available;
  padding: 0 1rem 1rem;
}

.pokemon-attributes-container div h1, 
.pokemon-attributes-container div span {
  display: inline-block;
}

.pokemon-attributes-container div h1 {
  margin: 1rem 0;
  font-size: 18px;
}

.abilities-container {
  margin: 0;
  display: inline-block;
}

.abilities-container .ability-item,
.pokemon-attributes-container div span {
  padding: 4px 8px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px;
  display: inline-block;
  margin-left: 1rem;
}


/* GLOBAL STYLES */

.input-text {
  font-size: 16px;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 20px 10px 35px;
}

.input-text:focus-visible {
  outline: 0;
}

.box-shadow {
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px;
} 

/* RESPONSIVE */

@media (max-width: 1024px) {
  header .display-menu-btn {
    display: inline-block;
  }

  header nav {
    display: none;
  }

  header nav.active {
    display: inline-block;
    position: absolute;
    top: 80px;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px;
    left: 0;
  }

  header nav.active ul {
    padding: 0;
    grid-gap: 0;
    margin: 0;
  }

  header nav.active ul li {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  header nav.active ul li:last-of-type {
    border-bottom-width: 0px;
  }

  section.section-pokemons .pokemons-sub-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  section.section-pokemons .pokemons-sub-section {
    grid-template-columns: auto;
  }

  .search-sub-section input {
    width: -webkit-fill-available;
  }
}
